extends layout

// mixin is used
// this is included in our sharedHTMLfunctions.jade

// we have to include that in our file
include _includes/sharedHTMLfunctions

block content
    #banner.page-header
        br
        p.lead #{greetings}
        .row
            .col-lg-8
                h1 Welcome to #{pageHeader.title}
                    small &nbsp; #{pageHeader.strapline}
        .row
            .col-xs-12.col-sm-8
                .row.list-group
                    // getting each location from locations array
                    - for( var k = 0; k < locations.length; k++ ) {
                        .col-xs-12.list-group-item
                            h4
                                span.information
                                    a(href="/locations") &nbsp; #{locations[k].name} &nbsp; &nbsp;
                                span.ratings #{locations[k].rating.val}.#{locations[k].rating.dec} &nbsp; &nbsp;

                                +outputRating(locations[k].rating)

                                &nbsp;
                                if locations[k].rating.val >= 3
                                    span.glyphicon.glyphicon-thumbs-up &nbsp;
                                else
                                    span.glyphicon.glyphicon-thumbs-down &nbsp;
                                span.reviews #{locations[k].reviews}
                                .span.badge.pull-right.badge-default #{locations[k].distance}
                            p.address #{locations[k].address}
                            p
                                - for(var i = 0; i < locations[k].facilities.length; i++) {
                                    - if(i%3 === 0) {
                                        span.label.label-info= locations[k].facilities[i]        
                                    - }
                                    - else if(i%3 === 1) {
                                        span.label.label-warning= locations[k].facilities[i]        
                                    - }
                                    - else if(i%3 === 2) {
                                        span.label.label-danger= locations[k].facilities[i]        
                                    - }
                                    &nbsp; &nbsp;
                                - }
                    - }
            .col-xs-12.col-sm-4
                p.lead Looking for Wifi and a Seat? Free-Wifi helps you find places to work when out and about. Perhaps with coffee or a cake. Let Free-Wifi help you find the place you're looking for.
                